<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/materialdesignicons.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<head>

    <%- include('../../head/head-report.ejs') -%>

        </nav>
<div class="layout-datetime" style="background: url(/static/images/img-map/3.jpg);background-size: cover !important;">
    <div class="title-datetime">
        <div class="date-time">
            <label style="font-size: 24px;">Thời gian bắt đầu:<span style="margin-left:5px"><%= start_date %> </span></label>
            -
            <label style="font-size: 24px;">Thời gian kết thúc:<span style="margin-left:5px"><%= end_date %></span></label>
        </div>
    
    </div>
    <div class="layout-time-column" >
        <div class="col-md-12">
            <div class="row">

                <%- include('power_hour/chart.ejs') -%>

                <%- include('power_hour/excel_LVMSB1.ejs') -%>

                <%- include('power_hour/excel_LVMSB2.ejs') -%>

                <%- include('power_hour/excel_LVMSB3.ejs') -%>
             
                </div>
            
            </div>
        </div>
    </div>
</div>

        <link rel="stylesheet" href="/static/css/reports/power_hour.css">

        <script src="/static/js/reports/exportExcel/exportExcel.js"></script>

<!-- Bieu do 1 -->
<script>
    Highcharts.chart('powerHour87', {
chart: {
    type: 'column',
    zoomType: 'x'
},
title: {
    text: 'LVMSB1 - <%= title %>',
    style: {
        color: "#fff"
    }
},
xAxis: {
    categories: [
        <% for(let i=0; i<powerH87.length; i++){ %>
            '<%= powerH87[i].Time %>',
        <% } %>
    ],
    crosshair: true
},
yAxis: {
    min: 0,
    title: {
        text: 'kWh'
    }
},
tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.1f} kWh</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
},
plotOptions: {
    column: {
        pointPadding: 0.2,
        borderWidth: 0
    }
},
series: [{
    name: 'LVMSB1',
    data: [
        <% for(let i=0; i<powerH87.length; i++){ %>
            <%= powerH87[i].powerHour87 %>,
        <% } %>
    ],
    color:'#66ccff'
}]
});
</script>

<!-- Bieu do 2 -->
<script>
    Highcharts.chart('powerHour972', {
chart: {
    type: 'column',
    zoomType: 'x'
},
title: {
    text: 'LVMSB2 - <%= title %>',
    style: {
        color: "#fff"
    }
},
xAxis: {
    categories: [
        <% for(let i=0; i<powerH972.length; i++){ %>
            '<%= powerH972[i].Time %>',
        <% } %>
    ],
    crosshair: true
},
yAxis: {
    min: 0,
    title: {
        text: 'kWh'
    }
},
tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.1f} kWh</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
},
plotOptions: {
    column: {
        pointPadding: 0.2,
        borderWidth: 0
    }
},
series: [{
    name: 'LVMSB2',
    data: [
    <% for(let i=0; i<powerH972.length; i++){ %>
            <%= powerH972[i].powerHour972 %>,
        <% } %>
    ],
    color:'#ff3333',
}]
});
</script>

<!-- Bieu do 3 -->
<script>
    Highcharts.chart('powerHourDh', {
chart: {
    type: 'column',
    zoomType: 'x'
},
title: {
    text: 'LVMSB3 - <%= title %>',
    style: {
        color: "#fff"
    }
},
xAxis: {
    categories: [
        <% for(let i=0; i<powerHDh.length; i++){ %>
            '<%= powerHDh[i].Time %>',
        <% } %>
    ],
    crosshair: true
},
yAxis: {
    min: 0,
    title: {
        text: 'kWh'
    }
},
tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.1f} kWh</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
},
plotOptions: {
    column: {
        pointPadding: 0.2,
        borderWidth: 0
    }
},
series: [{
    name: 'LVMSB3',
    data: [
    <% for(let i=0; i<powerHDh.length; i++){ %>
            <%= powerHDh[i].powerHourDh %>,
        <% } %>
    ],
    color:'#70db70'
}]
});
</script>

<!-- Bieu do 4 -->
<script>
    Highcharts.chart('powerSum', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '<%= title %>',
        style: {
        color: "#fff"
    }
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'LVMSB1',
            y: (
                <% let sum1 = 0 %>
                <% for(let i=0; i<powerH87.length; i++){ %>
                <% sum1 += powerH87[i].powerHour87 %>
                <% } %>
                <%= sum1 %>
                ),
            sliced: true,
            selected: true,
            color:'#66ccff'
        }, {
            name: 'LVMSB2',
            y: (
                <% let sum2 = 0 %>
                <% for(let i=0; i<powerH972.length; i++){ %>
                <% sum2 += powerH972[i].powerHour972 %>
                <% } %>
                <%= sum2 %>
                ),
            color:'#ff3333',
        }, {
            name: 'LVMSB3',
            y: (
                <% let sum3 = 0 %>
                <% for(let i=0; i<powerHDh.length; i++){ %>
                <% sum3 += powerHDh[i].powerHourDh %>
                <% } %>
                <%= sum3 %>
                ),
            color:'#70db70'
        }]
    }]
});
</script>

