<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
<head>

  <%- include('../head/head-diagram.ejs') -%>

      </nav>
      <!-- partial -->
      <div class="main-panel" id="main-panel">

    
        <div class="content-wrapper">
          <div class="row">
          
            <div class="col-md-12">
            <div class="img-map" style="width: 100%;background-color:#000">
              <img class="map_hoplong" src="/static/images/img-map/img-2.PNG" style="width:100%;">
            </div>
			<div class="thong-so">
        <div class="diagram-detail">
          <div class="text-content" style="display:flex">
            <button class="detail1 btn btn-success" type="button" data-toggle="modal" data-target="#myModal1" style=" top: -5em; position: relative;font-size: 0.15em; ">LVMSB1</button>
           
          </div>
      
          <span class="dv-1" id="dv1" ><%= data2.lvmsb1[0].last_powerH %></span>
          <span class="dv-2" id="dv2" ><%= data2.lvmsb2[0].last_powerH %></span>
          <span class="dv-3" id="dv3" ><%= data2.lvmsb3[0].last_powerH %></span>
        </div>
        <div class="diagram-detail">
          <div class="text-content">
            <button class="detail2 btn btn-success" type="button" data-toggle="modal" data-target="#myModal2" style=" top: -2em; position: relative;font-size: 0.15em; ">LVMSB2</button>
          </div>
        
          <span class="dv-4" id="dv4" ><%= data2.lvmsb1[0].last_CurrentAvg %></span>
          <span class="dv-5" id="dv5" ><%= data2.lvmsb2[0].last_CurrentAvg %></span>
          <span class="dv-6" id="dv6" ><%= data2.lvmsb3[0].last_CurrentAvg %></span>
        </div>
        <div class="diagram-detail">
          <div class="text-content">
            <button class="detail3 btn btn-success" type="button" data-toggle="modal" data-target="#myModal3" style=" top: -2em; position: relative;font-size: 0.15em; ">LVMSB3</button>
          </div>
        
          <span class="dv-7" id="dv7" ><%= data2.lvmsb1[0].last_VolLL %></span>
          <span class="dv-8" id="dv8" ><%= data2.lvmsb2[0].last_VolLL %></span>
          <span class="dv-9" id="dv9" ><%= data2.lvmsb3[0].last_VolLL %></span>
        </div>
	
        
       
        
			</div>
            </div>
     
          
          </div>
          <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content" style="">
                <div class="modal-header" style="background: linear-gradient(90deg, rgba(24,71,207,1) 0%, rgba(9,19,121,0.9556197478991597) 0%, rgba(13,93,210,0.9640231092436975) 100%);">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h2 class="modal-title" style="text-align: center;"><%= data1[0].Device %></h2>
                </div>
                <div class="modal-body">
                  <h2 style="text-align: center;color: orangered;">Energy Received: <span id="dv22" style="min-width: 60px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_powerH %> kWh</span></h2>
                  <div class="col-md-6">
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-A: </span><span id="dv10" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_CurrentA %></span>  | &nbsp;&nbsp; <%= data1[0].CurrentMax %></p>
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-B: </span><span id="dv11" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_CurrentB %></span> | &nbsp;&nbsp; <%= data1[0].CurrentMax %></p>
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-C:</span> <span id="dv12" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_CurrentC %></span>  | &nbsp;&nbsp; <%= data1[0].CurrentMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-AB:</span> <span id="dv13" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_VolAB %></span>  | &nbsp;&nbsp; <%= data1[0].VolUMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-BC:</span> <span id="dv14" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_VolBC %></span> | &nbsp;&nbsp; <%= data1[0].VolUMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-CA:</span> <span id="dv15" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_VolCA %></span>  | &nbsp;&nbsp; <%= data1[0].VolUMax %></p>
                  </div>
                  <div class="col-md-6">
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-AN:</span> <span id="dv16" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_VolAN %></span>  | &nbsp;&nbsp; <%= data1[0].VolVMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-BN:</span> <span id="dv17" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_VolBN %></span>  | &nbsp;&nbsp; <%= data1[0].VolVMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-CN:</span> <span id="dv18" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_VolCN %></span> | &nbsp;&nbsp; <%= data1[0].VolVMax %></p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-A:</span> <span id="dv19" style="color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_powerA %> </span></p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-B: </span><span id="dv20" style="color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_powerB %> </span></p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-C:</span> <span id="dv21" style="color:blue;font-weight: bold;"><%= data2.lvmsb1[0].last_powerC %> </span></p>
                  </div>
                </div>
                <div class="modal-footer" style="background-color: #1d60c5;">
                  <h4 style="color:white;width:100%;text-align: left;text-transform: uppercase;">hoplongtech.com</h4>
                  <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-close" style="margin-right:5px"></i>Close</button>
                </div>
              </div>
              
            </div>
          </div>
          <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content" style="">
                <div class="modal-header" style="background: linear-gradient(90deg, rgba(24,71,207,1) 0%, rgba(9,19,121,0.9556197478991597) 0%, rgba(13,93,210,0.9640231092436975) 100%);">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h2 class="modal-title" style="text-align: center;"><%= data1[1].Device %></h2>
                </div>
                <div class="modal-body">
                  <h2 style="text-align: center;color: orangered;">Energy Received: <span id="dv35" style="min-width: 60px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_powerH %> kWh</span></h2>
                  <div class="col-md-6">
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-A:</span> <span id="dv23" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_CurrentA %></span>  | &nbsp;&nbsp;<%= data1[1].CurrentMax %></p>
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-B: </span><span id="dv24" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_CurrentB %></span>  | &nbsp;&nbsp;<%= data1[1].CurrentMax %></p>
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-C: </span><span id="dv25" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_CurrentC %></span>  | &nbsp;&nbsp;<%= data1[1].CurrentMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-AB:</span> <span id="dv26" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_VolAB %></span>  | &nbsp;&nbsp; <%= data1[1].VolUMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-BC: </span><span id="dv27" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_VolBC %></span>  | &nbsp;&nbsp; <%= data1[1].VolUMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-CA:</span> <span id="dv28" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_VolCA %></span>  | &nbsp;&nbsp; <%= data1[1].VolUMax %></p>
                  </div>
                  <div class="col-md-6">
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-AN:</span> <span id="dv29" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_VolAN %></span>  | &nbsp;&nbsp; <%= data1[1].VolVMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-BN:</span> <span id="dv30" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_VolBN %></span>  | &nbsp;&nbsp; <%= data1[1].VolVMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-CN:</span> <span id="dv31" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_VolCN %></span> | &nbsp;&nbsp; <%= data1[1].VolVMax %></p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-A: </span><span id="dv32" style="color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_powerA %></span></p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-B:</span> <span id="dv33" style="color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_powerB %></span></p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-C:</span> <span id="dv34" style="color:blue;font-weight: bold;"><%= data2.lvmsb2[0].last_powerC %></span></p>
                  </div>
                </div>
                <div class="modal-footer" style="background-color: #1d60c5;">
                  <h4 style="color:white;width:100%;text-align: left;text-transform: uppercase;">hoplongtech.com</h4>
                  <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-close" style="margin-right:5px"></i>Close</button>
                </div>
              </div>
              
            </div>
          </div>
          <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content" style="">
                <div class="modal-header" style="background: linear-gradient(90deg, rgba(24,71,207,1) 0%, rgba(9,19,121,0.9556197478991597) 0%, rgba(13,93,210,0.9640231092436975) 100%);">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h2 class="modal-title" style="text-align: center;"><%= data1[2].Device %></h2>
                </div>
                <div class="modal-body">
                  <h2 style="text-align: center;color: orangered;">Energy Received: <span id="dv48" style="min-width: 60px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_powerH %> kWh</span></h2>
                  <div class="col-md-6">
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-A:</span> <span id="dv36" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_CurrentA %></span>  |  &nbsp;&nbsp; <%= data1[2].CurrentMax %></p>
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-B:</span> <span id="dv37" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_CurrentB %></span> |  &nbsp;&nbsp; <%= data1[2].CurrentMax %></p>
                    <p class="dv-4"  ><span style="min-width: 130px;display: inline-block;">Current-C:</span> <span id="dv38" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_CurrentC %></span> |  &nbsp;&nbsp; <%= data1[2].CurrentMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-AB:</span> <span id="dv39" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_VolAB %></span> |  &nbsp;&nbsp; <%= data1[2].VolUMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-BC:</span> <span id="dv40" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_VolBC %></span> |  &nbsp;&nbsp; <%= data1[2].VolUMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-CA:</span> <span id="dv41" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_VolCA %></span> |  &nbsp;&nbsp; <%= data1[2].VolUMax %></p>
                  </div>
                  <div class="col-md-6">
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-AN:</span> <span id="dv42" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_VolAN %></span> |  &nbsp;&nbsp; <%= data1[2].VolVMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-BN:</span> <span id="dv43" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_VolBN %></span> |  &nbsp;&nbsp; <%= data1[2].VolVMax %></p>
                    <p class="dv-7"  ><span style="min-width: 130px;display: inline-block;">Voltage-CN: </span><span id="dv44" style="min-width: 75px;color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_VolCN %></span> |  &nbsp;&nbsp; <%= data1[2].VolVMax %></p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-A:</span> <span id="dv45" style="color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_powerA %></span> </p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-B:</span> <span id="dv46" style="color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_powerB %></span> </p>
                    <p class="dv-10" ><span style="min-width: 130px;display: inline-block;">Power-C:</span> <span id="dv47" style="color:blue;font-weight: bold;"><%= data2.lvmsb3[0].last_powerC %></span> </p>
                  </div>
                </div>
                <div class="modal-footer" style="background-color: #1d60c5;">
                  <h4 style="color:white;width:100%;text-align: left;text-transform: uppercase;">hoplongtech.com</h4>
                  <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-close" style="margin-right:5px"></i>Close</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <style>


.loadingspinner {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}

      .dv-1::after,.dv-2::after,.dv-3::after {
        content: " kWh";
      }
      .dv-4::after,.dv-5::after,.dv-6::after {
        content: " A";
      }
      .dv-7::after,.dv-8::after,.dv-9::after {
        content: " V";
      }
      .dv-10::after{
        content: " kW";
        margin-left: 10px;
      }
        </style>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://hoplongtech.com/" target="_blank">hoplongtech.com</a>. All rights reserved.</span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <div id="loadingspinner"></div>
      <!-- main-panel ends -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="/static/js/loadpage/loadpage.js"></script>
    <script>
			$(document).ready(function() {

			setInterval(function() {
			$.ajax({
				"url": "http://10.10.15.20:1880/lvmsb-diagram",

				"success": function(data2) {
        $("#dv1").html(data2.lvmsb1[0].last_powerH);
        $("#dv2").html(data2.lvmsb2[0].last_powerH);
        $("#dv3").html(data2.lvmsb3[0].last_powerH);

        $("#dv4").html(data2.lvmsb1[0].last_CurrentAvg);
        $("#dv5").html(data2.lvmsb2[0].last_CurrentAvg);
        $("#dv6").html(data2.lvmsb3[0].last_CurrentAvg);

        $("#dv7").html(data2.lvmsb1[0].last_VolLL);
        $("#dv8").html(data2.lvmsb2[0].last_VolLL);
        $("#dv9").html(data2.lvmsb3[0].last_VolLL);

        //LVMSB1
        $("#dv10").html(data2.lvmsb1[0].last_CurrentA);
        $("#dv11").html(data2.lvmsb1[0].last_CurrentB);
        $("#dv12").html(data2.lvmsb1[0].last_CurrentC);

        $("#dv13").html(data2.lvmsb1[0].last_VolAB);
        $("#dv14").html(data2.lvmsb1[0].last_VolBC);
        $("#dv15").html(data2.lvmsb1[0].last_VolCA);

        $("#dv16").html(data2.lvmsb1[0].last_VolAN);
        $("#dv17").html(data2.lvmsb1[0].last_VolBN);
        $("#dv18").html(data2.lvmsb1[0].last_VolCN);

        $("#dv19").html(data2.lvmsb1[0].last_powerA);
        $("#dv20").html(data2.lvmsb1[0].last_powerB);
        $("#dv21").html(data2.lvmsb1[0].last_powerC);
        $("#dv22").html(data2.lvmsb1[0].last_powerH);

        //LVMSB2
        $("#dv23").html(data2.lvmsb2[0].last_CurrentA);
        $("#dv24").html(data2.lvmsb2[0].last_CurrentB);
        $("#dv25").html(data2.lvmsb2[0].last_CurrentC);

        $("#dv26").html(data2.lvmsb2[0].last_VolAB);
        $("#dv27").html(data2.lvmsb2[0].last_VolBC);
        $("#dv28").html(data2.lvmsb2[0].last_VolCA);

        $("#dv29").html(data2.lvmsb2[0].last_VolAN);
        $("#dv30").html(data2.lvmsb2[0].last_VolBN);
        $("#dv31").html(data2.lvmsb2[0].last_VolCN);

        $("#dv32").html(data2.lvmsb2[0].last_powerA);
        $("#dv33").html(data2.lvmsb2[0].last_powerB);
        $("#dv34").html(data2.lvmsb2[0].last_powerC);
        $("#dv35").html(data2.lvmsb2[0].last_powerH);

        //LVMSB3
        $("#dv36").html(data2.lvmsb3[0].last_CurrentA);
        $("#dv37").html(data2.lvmsb3[0].last_CurrentB);
        $("#dv38").html(data2.lvmsb3[0].last_CurrentC);

        $("#dv39").html(data2.lvmsb3[0].last_VolAB);
        $("#dv40").html(data2.lvmsb3[0].last_VolBC);
        $("#dv41").html(data2.lvmsb3[0].last_VolCA);

        $("#dv42").html(data2.lvmsb3[0].last_VolAN);
        $("#dv43").html(data2.lvmsb3[0].last_VolBN);
        $("#dv44").html(data2.lvmsb3[0].last_VolCN);

        $("#dv45").html(data2.lvmsb3[0].last_powerA);
        $("#dv46").html(data2.lvmsb3[0].last_powerB);
        $("#dv47").html(data2.lvmsb3[0].last_powerC);
        $("#dv48").html(data2.lvmsb3[0].last_powerH);
				},
				"error": function(error) {
				console.log(error);
				}
			})
			}, 1000);
			})
    </script>

      <script>
        var selector = '.text-content a';

$(selector).on('click', function(){
    $(selector).removeClass('active');
    $(this).addClass('active');
});
      </script>
    <script>
    flexFont = function () {
    var divs = document.getElementsByClassName("main-panel");
    for(var i = 0; i < divs.length; i++) {
        var relFontsize = divs[i].offsetWidth*0.05;
        divs[i].style.fontSize = relFontsize+'px';
    }
};

window.onload = function(event) {
    flexFont();
};
window.onresize = function(event) {
    flexFont();
};
    </script>
    <script>
      $('.sub-menu ul').hide();
$(".sub-menu a").click(function () {
	$(this).parent(".sub-menu").children("ul").slideToggle("100");
	$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
});
    </script>


    <!-- page-body-wrapper ends -->
  </div>
  <style>


#container {
    height: 400px;
}
#main-panel {
    display: none;

}


.navbar-expand-md {
  display: none;
}
.sidebar {
  width: auto;
  display: none;
}
.navbar .navbar-brand-wrapper {
  display: none !important;
}
/* .navbar-menu-wrapper.d-flex.align-items-center {
    display: none !important;
} */
.page-body-wrapper {
  margin-top: 0;
}
.main-panel {
  width:100%;

} 
.text-content a.active ,.text-content a:focus {
  border-bottom: 1px solid blue;
  color: blue;
} 
.col-md-6 p {
  min-width: 150px;
  display: flex;
}
.thong-so {
  font-size: 95px;
	position: absolute;
    top: 0;
    right: 0;
}
h2.modal-title {
  color:white;
}
.modal-header .close {
  color:white;
}
.close {
  opacity: 1;
}
.modal-body p {
  font-size: 22px;
    margin: 0 auto;
    max-width: 300px;

}
.thong-so .diagram-detail .text-content {
  position: relative;
    /* position: absolute; */

    top: 3.5em;
    cursor: pointer;
    left: -3.3em;
}
.thong-so .diagram-detail a.detail1 {
  font-size: 0.2em;
  font-weight: bold;
    top:-2.5em;
    left: -0.5em;
    position: absolute;
    cursor: pointer;
    
}
.thong-so .diagram-detail a.detail2 {
  font-size: 0.2em;
  font-weight: bold;
    top:4.5em;
    left: -0.5em;
    position: absolute;
    cursor: pointer;
}
.thong-so .diagram-detail a.detail3 {
  font-size: 0.2em;
  font-weight: bold;
    position: absolute;
    top: 11.3em;
    left: -0.5em;
    cursor: pointer;
}
.thong-so span.dv-1 {
    position: absolute;
    top: 10.5em;
    left: -9.8em;
    font-size: 0.22em;
    color:yellow;
		font-weight:bold;
    
}
.thong-so span.dv-2 {
    position: absolute;
    top: 17em;
    left: -9.8em;
    font-size: 0.22em;
	color:yellow;
		font-weight:bold;
}
.thong-so span.dv-3 {
    position: absolute;
    top: 23.5em;
    left: -9.8em;
    font-size: 0.22em;
		color:yellow;
		font-weight:bold;
}
.thong-so span.dv-4 {
    position: absolute;
    top: 12em;
    left: -9.8em;
    font-size: 0.22em;
    color:yellow;
		font-weight:bold;
}
.thong-so span.dv-5 {
    position: absolute;
    top: 18.5em;
    left: -9.8em;
    font-size: 0.22em;
		color:yellow;
		font-weight:bold;
}
.thong-so span.dv-6 {
    position: absolute;
    top: 25em;
    left: -9.8em;
    font-size: 0.22em;
		color:yellow;
		font-weight:bold;
}
.thong-so span.dv-7 {
    position: absolute;
    top:13.5em;
    left: -9.8em;
    font-size: 0.22em;
    color:yellow;
		font-weight:bold;
}
.thong-so span.dv-8 {
    position: absolute;
    top: 20em;
    left: -9.8em;
    font-size: 0.22em;
		color:yellow;
		font-weight:bold;
}
.thong-so span.dv-9 {
    position: absolute;
    top: 26.5em;
    left: -9.8em;
    font-size: 0.22em;
		color:yellow;
		font-weight:bold;
}
nav.sidebar-offcanvas ul li a {
	display: block;
	background: #ebebeb;
	padding: 10px 15px;
	color: #333;
	text-decoration: none;

}
nav.sidebar-offcanvas ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav.sidebar-offcanvas ul li a:hover {
	background: #f8f8f8;
	color: #515151;
}
nav.sidebar-offcanvas ul li a .fa.right {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav.sidebar-offcanvas ul ul {
	background-color:#ebebeb;
}
nav.sidebar-offcanvas ul li ul li a {
	background: #f8f8f8;
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav.sidebar-offcanvas ul li ul li a:hover {
	background: #ebebeb;
	border-left: 4px solid #3498db;
}
.sidebar-icon-only .sidebar .nav .nav-item .nav-link .fa.right {
    display: none;
}

  </style>

  <!-- plugins:js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="./js/vendor.bundle.base.js"></script>

  <script src="js-uibuilder/socket.io.js"></script>
  <script src="js-uibuilder/uibuilderfe.min.js"></script>
  <script src="js-uibuilder/jquery.min.js"></script>
  <script src="js-uibuilder/index.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
<!--   <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script> -->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
<!--   <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script> -->
  <script src="./js/template.js"></script>

  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src=""></script>
<!--   <script src="js/data-table.js"></script>
  <script src="js/jquery.dataTables.js"></script>
  <script src="js/dataTables.bootstrap4.js"></script> -->
  <!-- End custom js for this page-->
</body>

</html>

