<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
<head>

  <%- include('../head/head-diagram.ejs') -%>

      </nav>
      <!-- partial -->
      <div class="main-panel">

    
        <div class="content-wrapper">
          <div class="row">
          
            <div class="col-md-12">
            <div class="img-map" style="width: 100%;background-color:#000">
              <img class="map_hoplong" src="/static/images/img-map/img-2.PNG" style="width:100%;">
            </div>
      
            <%- include('map1/main.ejs') -%>

            </div>
     
          </div>

          <%- include('map1/modalLvmsb1.ejs') -%>

          <%- include('map1/modalLvmsb2.ejs') -%>

          <%- include('map1/modalLvmsb3.ejs') -%>

        </div>

        <!-- content-wrapper ends -->
        <!-- partial -->
      </div>

      <!-- main-panel ends -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <script src="/static/js/diagram/map1/request.js"></script>

    <!-- page-body-wrapper ends -->

    <link rel="stylesheet" href="/static/css/diagram/map1/map1.css">
  </div>

  <!-- plugins:js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="./js/vendor.bundle.base.js"></script>

</body>

</html>

