
<html lang="en">

    <head>
   
      <%- include('../../head/head.ejs') -%>
     
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
       
                <div class="col-md-12">
                  <div id="table-layout">
                 
                  </div>
                
                  <div class="col-md-12">
                    <div class="row">
  
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead class="thead-inverse">
  
                          </thead>
                          <tbody>
                      
                            <% data.reverse() %>
                            <% data.forEach(function(i){ %>
                            
                            <tr>
                              <th scope="row" colspan="7" style="background-color: #3ca93ed1;text-indent: 10px; color: white;"><%= i.Device %> - <%= i.Type %></th>
                            </tr>
                            <tr>
                              <!-- <td style="min-width: 70px;vertical-align: middle;"><label>User</label> <span> <%- i.isDone %></span> <br/> -->
                              <td style="height:50px;text-indent:10px;vertical-align: middle;min-width: 70px;"><i class="fa fa-circle" style="margin-right:5px;color:red"></i><label><%= i.Type %>- <%= i.Value %> <%= i.Unit %></label></td>
                              <td style="vertical-align:middle;min-width: 60px;"><label>Overload: <%= i.Overload %> <%= i.Unit %></label></td>
    
                              <td style="min-width:100px;vertical-align: middle;"><label>Create At: </label><span> <%= i.CreatAt %> </span> </br><label>Update At: </label><span> <%= i.UpdateAt %></span> </td>
  
                              <td style="min-width: 70px;vertical-align: middle;"><label>User Update:</label> <span> <%= i.Userid %></span> <br/>
                                <div class="action-button">
                                  <a href = "/alarm/edit/<%= device %>/<%= i._id %>">
                                    <i class="fa fa-edit" arial-hidden="true">Edit</i>
                                    </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <a onclick=" return confirmDelete('Are you sure want to permanently delete this message?')" href = "/alarm/remove/<%= device %>/<%= i._id %>">
                                      <i class="fa fa-remove" arial-hidden="true">Delete</i>
                                      </a>
                                </div>
  
                                <script>
                                  function confirmDelete(tinnhan) {
                                    if(window.confirm(tinnhan) == true) {
                                      return true;
                                    }
                                    return false;
                                  }
                                </script>
                        
                              </td>
                              
                          
                                <td style="vertical-align:middle;width: 500px;white-space: normal;word-break: break-word;"><a href = "/alarm/edit/<%= device %>/<%= i._id %>"><div class="label-border" style="padding:10px;border:1px solid black"><label><%= i.Note %></label></div></a></td>
  
                              <% }) %>
                            </tr>
                          
                          </tbody>
                        </table>
                      </div>
                    </div>
                    
                  </div>
              
              </div>
             
            </div>
        
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->

            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <script>
          
          $('.sub-menu ul.dropdown-sidebar').hide();
    
        $(".sub-menu a").click(function () {
          $(this).parent(".sub-menu").children("ul").slideToggle("100");
          $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
        });
        </script>
    
        <!-- page-body-wrapper ends -->
      </div>
      
      <link rel="stylesheet" href="/static/css/alarm/alarm.css">

         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../js/vendor.bundle.base.js"></script>
      <script src="/static/js/alarm/<%= device %>.js"></script>
      <!-- <script src="/static/js/alarm/dashboard.js"></script> -->
      <script src="/static/js/alarm/jquery.paginate.js"></script>
    
    
    </body>
    
    </html>
    
    