<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include('../head/head-setting.ejs') -%>

  </nav>
<body>
  <div class="main-panel" style="background: url(/static/images/img-map/3.jpg);background-size: cover !important;">
    <div class="content-wrapper" style="margin-top:20px">
      <div class="col-md-12">
        <a href="/add-account" class="btn btn-success" style="margin-bottom: 20px;"><i class="fa fa-plus" style="margin-right: 5px;"></i> Add new Account </a>
    </div>
       <!-- partial -->
       
        <% for(let i=0; i<data.length; i++){ %>
        <div class="col-sm-4">
          <div class="well" style="box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 -2px 20px rgba(0, 0, 0, 0.1);text-align: center;background: #ccc;">
              <h3 style="text-align: center;"><i class="fa fa-user" style="margin-right: 5px;"></i>User Account</h3>
                  <p style="font-size: 16px;display: inline-block;text-align: left;line-height: 30px;">
                      <strong style="min-width: 50px;display: inline-block;">id:</strong> <%= data[i]._id %><br>
                      <strong style="min-width: 50px;display: inline-block;">email:</strong> <%= data[i].local.email %><br>
                      <!-- <strong>password</strong>: <%= data[i].local.password %><br> -->
                      <strong style="min-width: 50px;display: inline-block;">role:</strong> <%= data[i].local.role %><br>
                  </p>
                  <div class="button-delete">
                    <a class="btn btn-danger" onclick=" return DeleteAccount('Are you sure want to permanently delete this message?')" href = "/account/<%= data[i]._id %>">
                      <i class="fa fa-trash" arial-hidden="true" style="margin-right:5px"></i>
                      Delete User
                      </a>
                  </div>
            
          </div>
      </div>
      <% } %>
    </div>
  </div>
</body>

    <script src="/static/js/setting/confirmAccount.js"></script>
      <!-- main-panel ends -->
    </div>
    

    <!-- page-body-wrapper ends -->
  </div>

  <link rel="stylesheet" href="/static/css/setting/account.css">

  <!-- plugins:js -->
 
</body>

</html>

