<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../head/head-setting.ejs') -%>

  </nav>
      <!-- partial -->
      <div class="main-panel" style="background: url(/static/images/img-map/3.jpg);background-size: cover !important;">
        
        <div class="content-wrapper" style="display: flex;align-items: center;">
          <% data.forEach(function(i){ %>
          <div class="column" style="width: 100%;">
            <div class="col-md-4">
             
              <div class="form-number">
                <h3 class="title"><%= i.Device %></h3>
                <ul>
                  <li><i class="fa fa-bolt" style="margin-right: 5px;"></i><span>Current-Max:</span><%= i.CurrentMax %></li>
                  <li><i class="fa fa-bolt" style="margin-right: 5px;"></i><span>Vol-U-Max:</span><%= i.VolUMax %></li>
                  <li><i class="fa fa-bolt" style="margin-right: 5px;"></i><span>Vol-V-Max:</span><%= i.VolVMax %></li>
                  <li><i class="fa fa-bolt" style="margin-right: 5px;"></i><span>THD-Max:</span><%= i.THDBigMax %></li>
                  <li><i class="fa fa-bolt" style="margin-right: 5px;"></i><span>thd-Max:</span><%= i.thdMax %></li>
                  
                <div class="image-right">
                  <img src="/static/images/img-map/charts.png"/>
                </div>
             
                </ul>
                <div class="button-edit">
                  <a href = "/setting/<%= i._id %>" >
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;"  > Edit</button>
                    </a>
                </div>
              </div>
             
            </div>
            <% }) %>
          </div>
         
        </div>
      
        <!-- partial -->
      </div>
     
      <!-- main-panel ends -->
    </div>

    <!-- page-body-wrapper ends -->
  </div>

  <link rel="stylesheet" href="/static/css/setting/setting.css">

  <!-- plugins:js -->
 
  <script src="js/vendor.bundle.base.js"></script>
 
</body>

</html>

